
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  img{
    width: 100%;
}
  
  /* Pre tablety a vyššie */
  @media (min-width: 768px) {
    body {
      padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    }
    img{
    width: 70%;
}
  }
  
  /* Pre desktop */
  @media (min-width: 1024px) {
    body {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
      
    }
    img{
        width: 70%;
    }
  }
