body {
  padding: 0;
  margin: 0;
}

svg {
  position: absolute;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

img {
  width: 100%;
  border-radius: 4px;
}

video {
  width: 100%;
}

.footer {
  margin-top: 1rem;
  display: flex;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
  box-sizing: border-box;
}



/* Pre tablety a vyššie */
@media (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  img {
    width: 70%;
  }

  video {
    width: 70%;
  }

}

/* Pre desktop */
@media (min-width: 1024px) {

  body {
    padding: 0;
    margin: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  img {
    width: 70%;
  }

  video {
    width: 70%;
  }

}